# <h1> Notes </h1>
# <p><%= link_to 'New Note', new_note_path %></p>
# <%= link_to 'Edit page', edit_note_path(page) %>
# <% @notes.each do |note| %>
#   <h2><%= page.title %></h2>
#   <%= link_to 'Show Page', note_path(note) %>
# <% end %>
<h1> Notes </h1>
<p><%= link_to 'New Notes', new_note_path %></p>
<% @notes.each do |note| %>
  ...
  <%= link_to 'Show Note', note_path(page) %>
  <%= link_to 'Edit Note', edit_note_path(note) %>
  <%= link_to 'Destroy Note', note, method: :delete %>
<% end %>